<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>NReco.Logging.File Demo</title>
        
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <style>
            body {
                font-family:Arial;
            }
        </style>

    </head>
    <body>	

		<div class="container">
			@RenderBody()
			<hr/>
		</div>

        @RenderSection("scripts", required: false)
    </body>
</html>
